@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: antiquewhite;
    
}
.con{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 50px;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.button{
    padding: 20px;
    width: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.row{
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:100px;
}
.row input{
    font-size: 1rem;
    margin: 0;
    padding: 6px 18px;
    border: 2px solid black;
    border-radius: 5px ;
}
a{
    color:black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    left: 32px;
    /* bottom: 0px; */
    z-index: 1;
  }
  a:hover .tooltiptext {
    visibility: visible;
  }
@media (max-width:460px) {
    .con{
        transition: 0.2s linear;
        margin-top: 50%;
    }
    
}